; https://blog.gitbutler.com/how-git-core-devs-configure-git/
[user]
	name = Jerome Basa
	email = 119982+jldbasa@users.noreply.github.com
[push]
  default = tracking
[branch]
  autosetuprebase = always
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /Users/jerome/.gitignore
[alias]
  co = checkout
  br = branch
[apply]
  whitespace = nowarn
[hub]
  protocol = https
[push]
  default = tracking
	autoSetupRemote = true
[branch]
  autosetuprebase = always
	sort = -committerdate
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = jldbasa
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[color]
  ui = auto
[color "branch"]
  current = yellow
  local = 241
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = green
  changed = yellow
  untracked = magenta
[web]
	browser = open
[pager]
	branch = false
  tag = false
; [commit]
; 	template = /Users/jerome/.git-commit-template
[column]
	ui = auto
[tag]
	sort = version:refname
[init]
	defaultBranch = develop
[diff]
	algorithm = histogram
[fetch]
	prune = true
	pruneTags = true
	all = true
[credential "https://github.com"]
	helper = 
	helper = !/Users/jerome/.local/share/mise/installs/github-cli/2.76.1/gh_2.76.1_macOS_arm64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/Users/jerome/.local/share/mise/installs/github-cli/2.76.1/gh_2.76.1_macOS_arm64/bin/gh auth git-credential
